{% extends "base.html" %}
{% load static %}

{% block content %}

    <section class="home">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12 col-xs-12">
                    <div class="row main-article">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="">
                                <div class="inner">
                                    <img class="product__details__pic__item--large"
                                        src="{{ object.image.url }}" width="100%" alt=""
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 article main-article">
                            <div class="main">
                                <h4>{{ object.title }}</h4>

                                <div class="inner">
                                    <audio preload="auto" controls>
                                        <source src="{{ object.audio.url }}">
                                    </audio>
                                </div>


                                <p>{{ object.description }}</p>

                                <footer>
                                    
                                    <p><b>{{ object.download_count }} Téléchargements</b></p>
                                    <a 
                                        onclick="location.href='{% url 'music:download_success' object.slug %}'"
                                        class="btn btn-primary more" 
                                        href="{{ object.audio.url }}" 
                                        Download
                                    >
                                        <div>Télécharger</div>
                                        <div><ion-icon name="download"></ion-icon></div>
                                    </a>
                                </footer>

                                <div class="main">
                                    <br>
                                    <p><b>Category :</b> <span>{{ object.category }}</span></p>
                                    <p><b>Artist :</b> <span>{{ object.artist }}</span></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="line">
                            <div>Related musics</div>
                        </div>
                    </div>

                    <div class="row">
                        {% for music in related_musics %}
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <article class="article">
                                    <div class="inner">
                                        <figure>
                                            <a href="{{ music.get_absolute_url }}">
                                                <img src="{{ music.image.url }}" alt="Sample Article">
                                            </a>
                                        </figure>
                                        <div class="padding">
                                            <div class="detail">
                                                <div class="time">Il y'a {{ music.created|timesince }}</div>
                                                <div class="category"><a href="">{{ music.category}}</a></div>
                                            </div>
                                            <h6><a href="{{ music.get_absolute_url }}">{{ music.title }}</a></h6>

                                            {% if music in premium_musics %}
                                            <p><span class="bold">
                                                {% if music.discount_price %}
                                                    Premium ${{ music.discount_price }}
                                                {% else %}
                                                    Premium ${{ music.price }}
                                                {% endif %}
                                            </span></p>
                                            {% endif %}

                                            {% if music in free_musics %}
                                                <p><span class="bold">
                                                    Gratuit
                                                </span></p>
                                            {% endif %}

                                            <footer>
                                                <a href="#" class="love">
                                                    <span class="bold">
                                                    12.000
                                                    </span>
                                                    <ion-icon name="download"></ion-icon>
                                                </a>
    											<a class="btn btn-primary more" href="{{ music.get_absolute_url }}">
    												<div><ion-icon name="eye"></ion-icon></div>
    												<div><ion-icon name="eye"></ion-icon></div>
    											</a>
                                                {% if music in premium_musics %}
                                                <a class="btn btn-primary more" href="{{ music.get_add_music_to_cart_url }}">
                                                    <div><ion-icon name="cart"></ion-icon></div>
                                                    <div><ion-icon name="cart"></ion-icon></div>
                                                </a>
                                                {% else %}
                                                    <a class="btn btn-primary more" href="{{ music.audio.url }}" download="{{ music.audio.url }}">
                                                    <div><ion-icon name="download"></ion-icon></div>
                                                    <div><ion-icon name="download"></ion-icon></div>
                                                </a>
                                                {% endif %}
                                            </footer>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        {% endfor %}
                    </div>
			    </div>

                {% include 'sidebar.html' with most_recent=most_recent category_count=category_count %}
            </div>
        </div>
    </section>
		<!-- Product Details Section End -->


{% endblock content %}
